{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web Trace</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "web/css/vendor/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "web/css/flat-ui.css" %}">
    {% block styles %}{% endblock %}
    <link rel="shortcut icon" href="{% static "web/images/favicon/favicon.ico" %}"/>

</head>
<body>
<div class="row">
    <div class="container-fluid">
        <div>
            <div class="">
                <nav class="navbar navbar-inverse navbar-fixed-top navbar-embossed navbar-expand-lg" role="navigation">
                    <a class="navbar-brand" href="#">Web Trace</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse"
                            data-target="#navbar-collapse-01"></button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-01">
                        <ul class="nav navbar-nav mr-auto">
                            <li><a href="#fakelink">Explore<span class="navbar-unread">1</span></a></li>
                            <li><a href="#fakelink">Problems</a></li>
                            <li><a href="#fakelink">Mock</a></li>
                            <li><a href="#fakelink">Contest</a></li>
                        </ul>
                        <form class="navbar-form form-inline my-2 my-lg-0" action="#" role="search">
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="navbarInput-01">
                                    </label>
                                    <input class="form-control" id="navbarInput-01" type="search" placeholder="Search"/>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn"><span class="fui-search"></span></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav">
                            <li><a href="#fakelink">Login</a></li>
                            <li><a href="#fakelink">Register</a></li>
                        </ul>

                    </div><!-- /.navbar-collapse -->
                </nav><!-- /navbar -->
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% block content %}

    {% endblock %}
</div>


<script src="{% static 'web/scripts/jquery-3.3.1.min.js' %}"></script>
<script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
<script src="{% static "web/scripts/flat-ui.js" %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>